<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css" type="text/css">
</head>
<body>
  <div id="body-div">
  </div>
</body>

<script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/viewer3D.min.js"></script>

<script src="/generated/sketch_it_bundle.js"></script>
